<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glasswellapps.iact">

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="30"/>


    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"
        tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:remove="android:maxSdkVersion"/>

    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Character Tracker"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImperialAssault" >
        <activity
            android:name=".NewHeroScreen"
            android:exported="false" />
        <activity
            android:name=".multiplayer.ImperialScreen"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".multiplayer.RebelScreen"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CreateScreen"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".inventory.RewardsScreen" />
        <activity
            android:name=".LoadScreen"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".inventory.RangedScreen" />
        <activity android:name=".inventory.MeleeScreen" />
        <activity android:name=".inventory.AccScreen" />
        <activity android:name=".inventory.ArmorScreen" />
        <activity android:name=".character_screen.XPScreen" />
        <activity
            android:name=".character_screen.CharacterScreen"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".Characters_list" />
        <activity
            android:name=".MainActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>